@model ETAbsurdV1.Models.PasswordResetModel

@{
    ViewBag.Title = "ResetPassword";
}


@Styles.Render("~/Content/Login/css")

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div class="row">
    <div class="col-md-offset-4 col-sm-4 form spawn-in">
        <h2>Reset Password</h2>
        @using (Html.BeginForm())
        {
            <h2>@ViewData["ThisUser"]</h2>
            @Html.ValidationSummary(true, "Errrr")
            <h2>New Password</h2>
            @Html.PasswordFor(p => p.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Password, "", new { @class = "text-danger validation-text" })
            <h2>Confirm</h2>
            @Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.ConfirmPassword, "", new { @class = "text-danger validation-text" })
            <input type="submit" class="form-control update-button" value="Update" />
        }
    </div>
</div>



