
@{
    ViewBag.Title = "Sortie";
}

<h2>Sortie</h2>

<div class="row">
    <h1>HOT DAWG</h1>
    <h1>Sortie 1: <span>@ViewData["HD1"]</span></h1>
    <h1>Sortie 2: <span>@ViewData["HD2"]</span></h1>
    <h1>Sortie 3: <span>@ViewData["HD3"]</span></h1>
</div>

<div class="row">
    <h1>BEAN</h1>
    <h1>Sortie 1: <span>@ViewData["B1"]</span></h1>
    <h1>Sortie 2: <span>@ViewData["B2"]</span></h1>
    <h1>Sortie 3: <span>@ViewData["B3"]</span></h1>
</div>